.dropdown-menu {
    max-height: 500px;
    overflow-y: scroll;
    width: 200px;
}

.list-item {
    padding-top: 6px;
}

#pleaseWaitDialog {
    position: absolute;
    top: 15%;
    left: 5%;
}

.col-xs-1 {
    margin-left: 50px; /* when we use 12 item grid on artist page this we need to add margin to center thing */
}

.navbar{
    height: 300px;
    background-image: url('../images/header.jpg');
}
@media (max-width: 979px) {
    .navbar {
        padding-top: 0px;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 5s; /* Chrome, Safari, Opera */
    animation: myfirst 5s;
}


@-webkit-keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn
{
    from {opacity: 0;}
    to {opacity: 1;}
}