.dropdown-menu {
    max-height: 900px;
    overflow-y: scroll;
    width: 220px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

#pleaseWaitDialog {
    position: absolute;
    top: 15%;
    left: 5%;
}